<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="cloud-watch" class="io.github.dibog.AwsLogAppender">
		<awsConfig>
			<credentials>
				<accessKeyId></accessKeyId>
				<secretAccessKey></secretAccessKey>
			</credentials>
			<region></region>
		</awsConfig>
		
		<createLogGroup>true</createLogGroup>
		<groupName></groupName>
		<streamName></streamName>
		
		<layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
	        <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
	        	<prettyPrint>true</prettyPrint>
	        </jsonFormatter>
	    </layout>
	</appender>
	
	<root level="info">
		<appender-ref ref="cloud-watch" />
	</root>
</configuration>
