<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="cloud-watch" class="io.github.dibog.AwsLogAppender">
		<awsConfig>
			<credentials>
				<accessKeyId>AKIAILZ3MR2SAOWZD4WA</accessKeyId>
				<secretAccessKey>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</secretAccessKey>
			</credentials>
			<region>us-east-1</region>
		</awsConfig>
		
		<createLogGroup>true</createLogGroup>
		<groupName>test3</groupName>
		<streamName>testStream3</streamName>
		
		<layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
	        <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
	        	<prettyPrint>true</prettyPrint>
	        </jsonFormatter>
	    </layout>
	</appender>
	
	<root level="info">
		<appender-ref ref="cloud-watch" />
	</root>
</configuration>
